/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";

body {
     background-image: url(/assets/paper.png);
     background-size: 50%;
     opacity: 0.8;
     font-family: Chilanka;
 }

 .navbar {
     margin: 2em;

 }

 .for-index-page {
     color: black;
     margin: auto 1% auto 2%;
 }
 a {
     color: black;
 }

 a:hover {
     transform: scale(1.1);
 }

 li {
    list-style-type: none ;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
 }

 .navbar-nav:hover {
    transform: scale(1.1);
 }

 h2:hover{
    transform: scale(1.1);
    color: black;
    background-color: lightgrey;
 }

 a:hover {
     color: black;
 }

 button {
     border: 8px solid darkgrey;
     border-radius: 7%;
     transform: scale(1.2);
 }

.form-group {
    padding-left: 2em;
}

.btn {
    border: 7px solid darkgrey;
    border-radius: 10%;
}